# Ignore all files in these directories
DATA/
output/
Archive/
__pycache__/

# Ignore these file types
*.xlsx
*.pdf
*.html
*.csv
*.counts
*.txt
*.tsv
*.fastq
*.fastq.gz
*.log
*.bam
*.bai
*.bed
*.gff
*.out
*.err
*.dexseq_counts
*.dexeq_counts
*.dexseq.gff
*.gtf
*.gff3
*.tab
*.bed
*.bed.gz
*.fasta
Genome
SA
SAindex
*.gz
Snord116
Ribisome_58s
*.fa
*.json
*.dexseq_counts
*.clean
*.gff
*.gtf
*.gff.fixed

# Ignore temporary and other directories
temp*/
other_files

# Track specific files from DATA directory
!DATA/
!DATA/prepare_annotation.sh
!DATA/allign.sh
DATA/gencode.v31.basic.annotation.dexseq.gff.clean
DATA/gencode.v31.basic.annotation.dexseq.gff.fixed

qc_plots/

!/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_Snords/output/snord116_target_gene_HTT_detailed.csv
!/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_Snords/output/snord116_target_gene_MED14_detailed.csv
!/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_Snords/output/snord116_target_gene_NSD2_detailed.csv
!/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_Snords/output/snord116_target_gene_PER3_detailed.csv
!/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_Snords/output/snord116_target_gene_POLE_detailed.csv
!/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_Snords/output/snord116_target_gene_SETD5_detailed.csv
!/beegfs/scratch/ric.broccoli/kubacki.michal/SRF_Snords/output/snord116_target_genes_summary.csv
enriched_overlaps_with_als.pkl
